<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM  "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
 	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender" >  
      <param name="Target" value="System.out" />  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{ISO8601} [%t %-5p %-5C{1}]: %m%n"/>  
        </layout>  
   </appender>  
	<appender name="ARQUIVO_ALL" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="falconRH.log"/>
        <param name="Append" value="true"/>
 		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%M:%L) %m%n"/>
		</layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
            <param name="LevelMin" value="DEBUG"/> 
            <param name="LevelMax" value="WARN"/> 
        </filter> 
	</appender>
	
	<logger name="richard.falconrh" additivity="false">
    	<level value="DEBUG"/><!-- Qualquer level igual ou superior a DEBUG -->
		<appender-ref ref="ARQUIVO_ALL"/>
		<appender-ref ref="CONSOLE"/>
    </logger>
	
	<logger name="org.hibernate.SQL" additivity="false">
    	<level value="DEBUG"/>
    	<appender-ref ref="CONSOLE"/>
        <appender-ref ref="ARQUIVO_ALL"/>
    </logger>
    
    <logger name="org.hibernate.type" additivity="false">
    	<level value="TRACE"/>
    	<appender-ref ref="ARQUIVO_ALL"/>
    	<appender-ref ref="CONSOLE"/>
    </logger>
    
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="ARQUIVO_ALL"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration> 
